Webpack (imports/exports)
    Babel
    Scss (предпроцессор)
    Eslint
    2 modes
        - Dev
            Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
        - Prod
            Minified Code

Git

    Production
        1.0.0
    Development
        1.0.2
